{
  "presets": ["next/babel"],
  "plugins": [
    "emotion",
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "#components": "./components",
          "#config": "./config",
          "#pages": "./pages",
          "#redux": "./redux",
          "#static": "./static",
          "#theme": "./theme",
          "#utils": "./utils"
        }
      }
    ]
  ]
}
