{
  "presets": ["next/babel"],
  "plugins": [
    "emotion",
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "@ns/components": "./components",
          "@ns/config": "./config",
          "@ns/hoc": "./hoc",
          "@ns/hooks": "./hooks",
          "@ns/layouts": "./layouts",
          "@ns/pages": "./pages",
          "@ns/public": "./public",
          "@ns/redux": "./redux",
          "@ns/theme": "./theme",
          "@ns/utils": "./utils"
        }
      }
    ]
  ]
}
